@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

.header
  box-sizing(border-box)
  border-bottom 2px solid $color-primary
  min-width $body-min-width
  padding 0 15px
  height 50px
  position relative

  +for_breakpoint(small)
    height auto
    min-height 30px

  &:after
    content 'alpha version'
    color #ff1313
    display block
    position absolute
    bottom 10px
    z-index 100
    right 20px
    opacity 0.6
    font-size 24px

    +for_breakpoint(medium)
      bottom: 14px
      font-size: 16px

    +for_breakpoint(small)
      top 5px
      bottom auto
      font-size 13.5px
      right 43px

.header-title
  text-indent -9999px
  overflow hidden
  background-image url(assets/images/logo.png)
  background-repeat no-repeat
  background-position center center
  width 170px
  background-size 100%
  color white
  float left
  font-size 17px
  line-height $header-height
  margin 0
  +for_breakpoint(small)
    height 30px

.navbar-nav
  list-style none
  padding:0
  margin:0
  position absolute
  z-index 999
  bottom:0
  left 200px

  &.desktop
    +for_breakpoint(small)
      display none

  +for_breakpoint(small)
    //display none
    position static
    padding-top 30px

    &:hover
      display block !important


$menu-bar
  border-radius(3px)
  position absolute
  width 25px
  height 3px
  display block

.menu-mobile
  @extend $menu-bar
  +for_breakpoint(not-small)
    display none

  +for_breakpoint(small)
    top -11px
    height 40px

  cursor pointer
  right 0
  top 0
  transition-duration 0.5s
  width 40px
  height 50px
  position absolute
  z-index 9

  &:hover
    cursor pointer

  .icon
    transition-duration 0.2s
    position absolute
    width 30px
    height 3px
    background-color $color-primary
    top 24px

    &:before, &:after
      transition-duration 0.5s
      background-color $color-primary
      position absolute
      content ""
      width 30px
      height 3px

    &:before
      top -7px

    &:after
      top 7px

  &.open
    .icon
      background-color transparent
      &:before, &:after
        top 0

      &:before
        transform rotate(-45deg)
        -webkit-transform rotate(-45deg)

      &:after
        transform rotate(45deg)
        -webkit-transform rotate(45deg)
