@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

a
  text-decoration none


    
.flow-container
  display flex
  align-items center
  
.navbar-nav
  list-style none
  padding:0
  margin:0
  position absolute
  z-index 999
  top:0

  &.desktop
    +for_breakpoint(small)
      display none

  +for_breakpoint(small)
    position static

    &:hover
      display block !important




.header
  width 100%
  display flex
  flex-wrap nowrap
  align-items center
  height 40px
  color $color-blue-darker
  
  a
    color $color-blue-darker
    &:hover
      color $brand-primary

  .navigation
    white-space nowrap
    overflow hidden
    get-global-margin-left()
    flex 1.5 0 0
    min-width 160px
    
    .header-title
      overflow hidden
      background-image url(/assets/images/logo.png)
      background-repeat no-repeat
      background-position center center
      width 170px
      background-size 100%
      color white
      float left
      get-font-size(medium)
      line-height $header-height
      margin 0
      +for_breakpoint(small)
        height 30px
    
    img
      padding-right 3px
      position relative
      top 2px

    .breadcrumb
      font-size: $font-size-header-regular
      position relative
      top -1px
      
    .breadcrumb-first-level
      display none
      padding 0
      margin 0
      &:after, &:before
        color $color-grey-medium
        display inline-block
        content "▸"
        margin-right 5px
        margin-left 5px

  .how-to-use
    flex 2 0 0;
    min-width 320px
    +for_breakpoint(small)
      display: none
    .how-to-use-video
      margin-left 250px
      +for_breakpoint(medium)
        margin-left 195px
      +for_breakpoint(small)
        margin-left 0
      font-size: $font-size-header-regular
      position relative
      top 0px
      span
        yellow-box()
        display inline-block
        width: 26px
        padding-left 3px

  .social
    flex 1 0 0;
    min-width 340px
    
    +for_breakpoint(small)
      display none


  .menu-mobile
    flex 1 0 0;
    min-width 100px

    +for_breakpoint(not-small)
      display none

    cursor pointer
    transition-duration 0.5s

    .social-share-icon
      margin 4px
      yellow-box()
      i
        position relative
        top 1px
    
    .menu-icon
      position relative
      margin 4px

      .icon
        transition-duration 0.2s
        width 30px
        height 3px
        background-color $color-primary

        &:before, &:after
          transition-duration 0.5s
          background-color $color-primary
          position absolute
          content ""
          width 30px
          height 3px

        &:before
          top -7px

        &:after
          top 7px

    &.open
      .icon
        background-color transparent
        &:before, &:after
          top 0

        &:before
          transform rotate(-45deg)

        &:after
          transform rotate(45deg)


.header-divider
  background-color $color-primary
  height 2px
  margin: 0
  padding 0
  width 100%
  
  
$menu-bar
  border-radius(3px)
  position absolute
  width 25px
  height 3px
  display block
