<div class="header">

  <app-chart-switcher [selectedTool]="selectedTool$ | async" (selectTool)="selectTool($event)"></app-chart-switcher>

  <div class="how-to-use desktop">
    <div class="flow-container">

      <ul class="nav navbar-nav navbar-nav-left desktop">
        <app-menu
          [mobile]="false"
          [selectedMenuItem]="selectedMenuItem$ | async"
          [menuItems]="menuItems$ | async"
          (selectMenuItem)="selectMenuItem($event)">
        </app-menu>
      </ul>
    </div>
  </div>

  <div class="social desktop">
    <div class="flow-container" style="justify-content: flex-end">

      <div>
        <ul class="social-list desktop">
          <app-social-buttons (getEmbeddedUrl)="getEmbeddedUrl()" (shareLink)="shareLink()"></app-social-buttons>
        </ul>
      </div>

      <div>
        <div class="lang-wrapper desktop">
          <app-language-switcher
                  [allLanguages]="allLanguages$ | async"
                  [isLanguageSwitcherVisible]="isLanguageSwitcherVisible$ | async"
                  [selectedLanguage]="selectedLanguage$ | async"
                  (changeLanguage)="changeLanguage($event)"
                  (hideLanguageChooser)="hideLanguageChooser()"
                  (switchLanguageChooser)="switchLanguageChooser()">
          </app-language-switcher>
        </div>
      </div>
    </div>
  </div>

  <div (click)="switchMobileMenuVisibility()" class="menu-mobile" [ngClass]="{'open': !(isMobileMenuHidden$ | async)}">
    <div class="flow-container" style="justify-content: flex-end">
      <div class="social-share-icon">
        <i class="fa fa-share-alt icon"></i>
      </div>
      <div class="menu-icon">
        <div class="icon"></div>
      </div>
    </div>
  </div>

</div>

<div class="mobile">
  <ul id="mobile-menu-cont" class="navbar-nav navbar-nav-left mobile" [hidden]="(isMobileMenuHidden$ | async)">

    <li class="nav-expandable" [ngClass]="{'hidden': (isMobileMenuHidden$ | async)}">
      <div class="lang-wrapper mobile">
        <app-language-switcher
                [allLanguages]="allLanguages$ | async"
                [isLanguageSwitcherVisible]="isLanguageSwitcherVisible$ | async"
                [selectedLanguage]="selectedLanguage$ | async"
                (changeLanguage)="changeLanguage($event)"
                (hideLanguageChooser)="hideLanguageChooser()"
                (switchLanguageChooser)="switchLanguageChooser()">
        </app-language-switcher>
      </div>
    </li>

    <app-menu
            [mobile]="true"
            [selectedMenuItem]="selectedMenuItem$ | async"
            [menuItems]="menuItems$ | async"
            (selectMenuItem)="selectMenuItem($event)">
    </app-menu>
  </ul>

</div>

<div class="header-divider"></div>
