<div class="header">

  <a class="header-title" href="http://www.gapminder.org">
    GAPMINDER TOOLS
  </a>

  <div class="menu-mobile" (click)="mobileMenuHidden = !mobileMenuHidden" [ngClass]="{'open' : !mobileMenuHidden }">
    <div class="icon"></div>
  </div>

  <ul class="nav navbar-nav navbar-nav-left desktop">
    <app-menu></app-menu>
  </ul>

  <ul class="nav navbar-nav navbar-nav-left mobile" *ngIf="!mobileMenuHidden">

    <!-- mobile :: language switcher-->
    <li class="nav-expandable" [ngClass]="mobileMenuHidden ? 'hidden' : ''">
      <div class="lang-wrapper mobile">
        <app-language-switcher></app-language-switcher>
      </div>
    </li>

    <app-menu></app-menu>
  </ul>

  <div class="lang-wrapper desktop">
    <app-language-switcher></app-language-switcher>
  </div>

  <ul class="social-list desktop">
    <app-social-buttons></app-social-buttons>
  </ul>

</div>
