@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

a
  text-decoration none
  color $color-black
  &:hover
    color $color-blue-dark

/*.header
  box-sizing(border-box)
  border-bottom 2px solid $color-primary
  min-width $body-min-width
  padding 0 15px
  height 50px
  position relative

  +for_breakpoint(small)
    height auto
    min-height 30px*/

.header-title
  text-indent -9999px
  overflow hidden
  background-image url(/assets/images/logo.png)
  background-repeat no-repeat
  background-position center center
  width 170px
  background-size 100%
  color white
  float left
  font-size 17px
  line-height $header-height
  margin 0
  +for_breakpoint(small)
    height 30px

.navbar-nav
  list-style none
  padding:0
  margin:0
  position absolute
  z-index 999
  bottom:0
  left 200px

  &.desktop
    +for_breakpoint(small)
      display none

  +for_breakpoint(small)
    position static

    &:hover
      display block !important


$menu-bar
  border-radius(3px)
  position absolute
  width 25px
  height 3px
  display block

.menu-mobile
  @extend $menu-bar
  +for_breakpoint(not-small)
    display none

  +for_breakpoint(small)
    top -11px
    height 40px

  cursor pointer
  right 15px
  top 0
  transition-duration 0.5s
  width 40px
  height 50px
  position absolute
  z-index 9

  &:hover
    cursor pointer

  .icon
    transition-duration 0.2s
    position absolute
    width 30px
    height 3px
    background-color $color-primary
    top 24px

    &:before, &:after
      transition-duration 0.5s
      background-color $color-primary
      position absolute
      content ""
      width 30px
      height 3px

    &:before
      top -7px

    &:after
      top 7px

  &.open
    .icon
      background-color transparent
      &:before, &:after
        top 0

      &:before
        transform rotate(-45deg)

      &:after
        transform rotate(45deg)

.social-share-icon
  display none
  cursor pointer

  +for_breakpoint(small)
    display block
    position: absolute
    right 65px
    padding 0 5px
    top 0
    font-size 1.4em
    color $color-primary

.header
  width 100%
  display flex
  flex-wrap nowrap
  align-items center
  height 40px

  .navigation
    flex 1 0 0
    img
      padding-right 3px

    .breadcrumb-first-level
      padding 0
      margin 0
      &:after, &:before
        background-image url("/assets/images/gray-triangle.png")
        background-size 8px 8px
        background-repeat no-repeat
        display inline-block
        width 8px
        height 8px
        content ""
        padding-top 2px
        margin-right 5px
        margin-left 5px

  .how-to-use
    flex 0.5 0 0;
    min-width 200px
    img
      padding-right 5px
    &.desktop
      +for_breakpoint(small)
        display none

  .social
    flex 1.5 0 0;

    &.desktop
      +for_breakpoint(small)
        display none

.flow-container
  margin-left 10px
  display flex
  align-items center

.header-divider
  background-color $color-primary
  height 2px
  margin: 0
  padding 0
  width 100%
