<div class="wrapper-error hidden"></div>
<div class="wrapper-analytics hidden"></div>

<div class="footer-container">
    <div class="menu-block">
        <div class="menu-content">
            <div class="general-menu">
                <ul class="nav">
                    <li><a href="">Old bubble chart</a></li>
                    <li><a href="">For teachers</a></li>
                </ul>
            </div>
            <div class="main-menu">
                <ul class="nav">
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Donate</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Media</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Labs</a></li>
                    <li><a href="http://getsatisfaction.com/gapminder/#problem">Report problem</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="service-block">
        <div class="service-buttons">
            <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.gapminder.org&related=Gapminder&text=Gapminder&tw_p=tweetbutton&url=http%3A%2F%2Fwww.gapminder.org%2Ftools%2F"><img src="assets/images/footer/twitter-gray.png"></a>
            <span></span>
            <a href="http://www.addtoany.com/add_to/facebook?linkurl=http%3A%2F%2Fwww.gapminder.org%2Ftools%2F&"><img src="assets/images/footer/facebook-gray.png"></a>
        </div>
    </div>
</div>
