<div class="wrapper-error hidden"></div>
<div class="wrapper-analytics hidden"></div>

<div class="footer-container">
    <div class="footer-container menu-holder">
        <div class="logo-gray">
            <img src="assets/images/logo-gray.png">
        </div>
        <div class="general-menu">
            <ul class="nav">
                <li><a href="//gapminder.org/world" translate>old_bubble_chart</a></li>
                <li><a href="//gapminder.org/for-teachers/" translate>for_teachers</a></li>
            </ul>
        </div>
        <div class="main-menu">
            <ul class="nav">
                <li><a href="//gapminder.org/about-gapminder/" translate>about</a></li>
                <li><a href="//gapminder.org/about-gapminder/contact/" translate>contact</a></li>
                <li><a href="//gapminder.org/news/" translate>blog</a></li>
                <li><a href="//gapminder.org/donations/" translate>donate</a></li>
                <li><a href="//docs.google.com/a/gapminder.org/document/pub?id=1POd-pBMc5vDXAmxrpGjPLaCSDSWuxX6FLQgq5DhlUhM" translate>terms</a></li>
                <li><a href="//gapminder.org/about-gapminder/press-and-media/" translate>media</a></li>
                <li><a href="//gapminder.org/faq_frequently_asked_questions/" translate>help</a></li>
                <li><a href="//vizabi.org/tutorials/" translate>labs</a></li>
                <li><a href="//getsatisfaction.com/gapminder/#problem" translate>report_problem</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-container service-container">
        <div class="service-content">
            <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.gapminder.org&related=Gapminder&text=Gapminder&tw_p=tweetbutton&url=http%3A%2F%2Fwww.gapminder.org%2Ftools%2F"><img src="assets/images/footer/twitter-gray.png"></a>
            <a href="http://www.addtoany.com/add_to/facebook?linkurl=http%3A%2F%2Fwww.gapminder.org%2Ftools%2F&"><img src="assets/images/footer/facebook-gray.png"></a>
        </div>
    </div>
</div>
