<div class="wrapper" [ngClass]="{'embedded-view': (isEmbeddedMode$ | async), 'page-lang-rtl': (isRtl$ | async)}"
     (click)="baseElementClickHandler($event)">
  <app-header></app-header>

  <ng-template #homeContainer></ng-template>

  <div class="more">
    <app-see-also
      [tools]="tools$ | async"
      [selectedTool]="selectedTool$ | async"
      (selectTool)="selectTool($event)"
      (trackGaToolChangeEvent)="trackGaToolChangeEvent($event)"
      class="about"></app-see-also>
    <app-related-items [relatedItems]="relatedItems$ | async" class="related"></app-related-items>
    <ul class="social-list mobile">
      <app-social-buttons></app-social-buttons>
    </ul>
    <app-report-problem [isFlashAvailable]="isFlashAvailable$ | async"></app-report-problem>
  </div>

  <app-footer></app-footer>
</div>
