<div class="wrapper" [ngClass]="{'embedded-view': (isEmbeddedMode$ | async), 'page-lang-rtl': (isRtl$ | async)}"
     (click)="baseElementClickHandler($event)">
  <app-header *ngIf="isVizabiReady$ | async"></app-header>

  <app-home></app-home>

  <div *ngIf="isVizabiReady$ | async">
    <app-see-also
            [tools]="tools$ | async"
            [selectedTool]="selectedTool$ | async"
            (selectTool)="selectTool($event)"
            (trackGaToolChangeEvent)="trackGaToolChangeEvent($event)"
            class="about"></app-see-also>
    <app-related-items *ngIf="!(client$ | async)" [relatedItems]="relatedItems$ | async" class="related"></app-related-items>
  </div>

  <app-footer *ngIf="isVizabiReady$ | async"></app-footer>
</div>
