
<li class="nav-expandable">
  <div *ngFor="let item of MenuItems; let indexId=index;" class="nav-expandable-item">

    <a class="nav-toggle-expanded" (click)="switchSubMenu(indexId)">{{ item.menu_label }}</a>

    <div class="nav-expanded" [hidden]="!IndexedMenuItems[indexId]">

      <div class="nav-expanded-columns nav-expanded-columns-2 nav-expanded-columns-icons">
        <div class="nav-expanded-columns-inner">
          <ul>

            <li *ngFor="let child of item.children" class="expanded-column-item">
              <a href="{{ child.url }}">
                <div class="column-item-icon">
                  <img *ngIf="hasIcon(child)" [src]="createIconUrl(child)">
                </div>
                <div class="column-item-info">
                  <div class="column-item-heading">{{ child.menu_label }}</div>
                  <div class="column-item-description">{{ child.caption }}</div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</li>
