<li class="nav-expandable">
  <div *ngFor="let item of menuItems" class="nav-expandable-item">

    <a class="menu-item nav-toggle-expanded" (click)="selectMenuItem.emit(item)">{{ item.menu_label }}</a>

    <div class="nav-expanded" [hidden]="item !== selectedMenuItem">
      <div class="nav-expanded-columns nav-expanded-columns-2 nav-expanded-columns-icons">
        <div class="nav-expanded-columns-inner">
          <ul>
            <li *ngFor="let child of item.children" class="expanded-column-item">
              <a class="menu-item" href="{{ child.url }}">
                <div class="column-item-icon">
                  <img *ngIf="hasIcon(child)" [src]="getIconUrl(child)">
                </div>
                <div class="column-item-info">
                  <div class="column-item-heading">{{ child.menu_label }}</div>
                  <div class="column-item-description">{{ child.caption }}</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="nav-expandable">
  <div class="nav-expandable-item">

    <a class="menu-item nav-toggle-expanded how-to-use-video" (click)="isHowToVisible=!isHowToVisible"><span>▶︎</span>How to use</a>

    <div class="nav-expanded how-to-content" [hidden]="!isHowToVisible">
      <div class="nav-expanded-columns nav-expanded-columns-2 nav-expanded-columns-icons">
        <div class="nav-expanded-columns-inner expanded-column-item" style="text-align: center; width: 100%">
            <iframe src="https://player.vimeo.com/video/231885967" class="how-to-frame" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <!--<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br>
               bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>-->
        </div>
      </div>
    </div>
  </div>

</li>

<div class="nav-expandable-item mobile-share-menu-item">
  <ul class="social-list mobile">
    <app-social-buttons></app-social-buttons>
  </ul>
</div>
