@import './../../_resources/variables.styl'
@import './../../_resources/mixins.styl'

.social-list
  li
    float left
    margin 4px
    a
      /*
      FIX :: FontAwesome
      color $color-primary
      font-size 25px
      line-height 1.2
      */
      display inline-block

  .ico-plane,
  .yellow-box
    background $color-primary
    border none
    color #fff
    font-size 15px
    margin 5px 0
    border-radius (4px)
    cursor pointer
    outline none
    width 22px
    height 22px
    padding 0

    path
      fill white

  .yellow-box
    text-align center
    line-height 22px

    &.diff
      font-size 12px
      line-height 17px
      i
        position relative
        top -1px

  .ico-plane
    svg
      position relative
      left: -1px
      top: 1px

  .share-text-box
    border none
    font-size 16px
    margin 5px 0
    cursor pointer
    outline none
    height 22px
