@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

.see-also-block
  width 100%
  background-color #f5f9fb

.see-also-heading
  color #68b4cd
  text-transform uppercase
  font-size 15px
  padding 5px 0 0 40px

.other-tools-container
  margin 0
  padding 0 40px 20px 40px
  display flex
  flex-wrap wrap
  justify-content space-between

  & > .other-tools-item
    margin 0
    width 128px
    text-align center

    & > a
      transition(all 0.1s)
      border-radius (3px)
      display block
      position relative
      cursor pointer
      text-decoration none
      max-width 400px

      .title
        color #808285
        font-size 12px
        display block
        text-transform uppercase

      .image
        width 100%
        height auto

      &:hover
        box-shadow 0 1px 11px rgba(0, 0, 0, 0.05), 0 1px 6px rgba(0, 0, 0, 0.18)

        & > .title
          color $color-blue-dark

    & > a[hidden]
      display none
