@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

.related-block
  width 100%

.related-heading
  color #68b4cd
  text-transform uppercase
  font-size 15px
  padding 5px 0 0 40px

related-container
  margin 0
  padding 0 40px 20px 40px

.related-items
  list-style none
  margin 0
  padding 0 0 0 40px
  box-sizing(border-box)
  +for_breakpoint(large)
    columns(2 20px)

.related-item
  box-sizing(border-box)
  display inline-block
  width 100%
  padding 10px
  margin-bottom 20px

  +for_breakpoint(small)
    padding 0px
    margin-bottom 10px

  a
    //display(flex)
    flex-direction(row)
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration none
    color $color-black

    &:hover .title
      color $color-blue-dark

.related-item-thumbnail
  -webkit-flex-shrink 0
  -moz-flex-shrink 0
  -ms-flex-negative 0
  flex-shrink 0
  width 130px
  height auto

  +for_breakpoint(small)
    width 100px

  img
    width 100%
    height auto

.related-item-info
  display inline-block
  flex 1
  line-height 1.2
  padding-right 15px
  position relative
  margin-left 20px

  .title, .subtitle
    display block

  .title
    font-size 22px

  .subtitle
    font-size 20px
    font-style italic
    color #808080
