<div class="related-block">
  <h2 class="heading-2 related-heading" translate>popular</h2>

  <div class="related-container">
    <ul class="related-items">

      <li class="related-item" *ngFor="let relatedItem of relatedItems">
        <a [href]="relatedItem.link" rel="noopener">
          <div class="related-item-thumbnail">
            <img [src]="relatedItem.image">
          </div>
          <div class="related-item-info">
            <span class="title" translate>{{'related-' + relatedItem._id + '-title' | translate}}</span>
            <span class="subtitle" translate>{{'related-' + relatedItem._id + '-subtitle' | translate}}</span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>
