<!--<div class="column main">-->

  <div *ngFor="let toolKey of toolKeys" [hidden]="currentChartType != toolKey" class="column main">
    <vizabi class="vzb-placeholder"
            *ngIf="currentChartType == toolKey && switchingReady"
            [readerModuleObject]="readerModuleObject"
            [readerGetMethod]="readerGetMethod"
            [readerParams]="readerParams"
            [readerName]="readerName"
            [translations]="translations"
            [extResources]="extResources"
            [stopUrlRedirect]="stopUrlRedirect"
            (onCreated)="onCreated($event)"
            (onChanged)="onChanged($event)"
            [chartType]="vizabiInstances[toolKey].chartType"
            [model]="vizabiInstances[toolKey].model"
            [modelHash]="vizabiInstances[toolKey].modelHash"
    ></vizabi>
  </div>

  <div *ngIf="currentChartType == ''">
    ... chart type is not detected
  </div>

<!--</div>-->
