<div *ngFor="let slug of slugs" [hidden]="currentChartType !== slug" class="column main">
  <vizabi class="vizabi-placeholder"
          *ngIf="currentChartType === slug"
          [readerModuleObject]="readerModuleObject"
          [readerGetMethod]="'getReader'"
          [readerPlugins]="readerPlugins"
          [readerName]="'waffle'"
          [extResources]="extResources"
          [stopUrlRedirect]="true"
          (onCreated)="onCreated($event)"
          (onChanged)="onChanged($event)"
          [chartType]="vizabiInstances[slug].chartType"
          [model]="getVizabiInitialModel(slug)"
          [modelHash]="vizabiInstances[slug].modelHash">
  </vizabi>
</div>

<div *ngIf="!currentChartType"><span translate>chart_is_loading</span> ...</div>
