<div *ngFor="let slug of slugs" [hidden]="currentChartType !== slug" class="column main">
  <vizabi class="vizabi-placeholder"
          *ngIf="currentChartType === slug"
          [readerModuleObject]="readerModuleObject"
          [readerGetMethod]="'getReader'"
          [readerPlugins]="readerPlugins"
          [readerName]="'waffle'"
          [stopUrlRedirect]="false"
          (onCreated)="onCreated($event)"
          (onChanged)="onChanged($event)"
          (onError)="onError($event)"
          [chartType]="vizabiInstances[slug].chartType"
          [model]="initialVizabiInstances[slug].model"
          [language]="lang"
          [modelHash]="vizabiInstances[slug].modelHash">
  </vizabi>
</div>
<!--
<div *ngIf="!currentChartType"><span translate>chart_is_loading</span> ...</div>
-->
